/* noto-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-v36-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/noto-sans-v36-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-v36-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/noto-sans-v36-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-mono-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-mono-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  background-color: #242525;
}

body {
  color: #e9e2d7;

  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  margin: 1rem auto;
  max-width: 768px;
  padding: 0 1rem;

  text-align: justify;
}

h1 {
  color: #e9e2d7;
  margin: 0.5rem 0;
}

h1, h2 {
  text-align: left;
}

header {
  border-bottom: 2px solid #e9e2d7;
  margin-bottom: 1rem;
}

footer {
  border-top: 2px solid #e9e2d7;
  margin-top: 1rem;
}

a {
  color: #4d92e1;
  text-decoration: none;
}

code {
  font-family: 'Noto Sans Mono';
  font-size: 10pt;
  /* border: 1px solid white; */
  background-color: #454545;
  border-radius: 3px;
  padding: 0pt 2pt;
}

sup {
  line-height: 0;
}

li {
  margin-bottom: 0.5rem;
}

li>* {
  margin: 0;
}

nav {
  margin-bottom: 1rem;
}

nav > a {
  margin: 0 0.25rem;
}

nav > a:first-of-type {
  margin-left: 0;
}