/* noto-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-v36-latin-regular.woff2') format('woff2');
}

/* noto-sans-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/noto-sans-v36-latin-italic.woff2') format('woff2');
}

/* noto-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-v36-latin-700.woff2') format('woff2');
}

/* noto-sans-700italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/noto-sans-v36-latin-700italic.woff2') format('woff2');
}

/* noto-sans-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-mono-v30-latin-regular.woff2') format('woff2');
}

/* noto-sans-mono-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-mono-v30-latin-700.woff2') format('woff2');
}

* {
  margin-top: 0;
}

html {
  background-color: #242525;
}

body {
  color: #e9e2d7;

  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  margin: 1rem auto;
  max-width: 768px;
  padding: 0 1rem;

  text-align: justify;
}

h1 {
  color: #e9e2d7;
  margin: 0.5rem 0;
}

h1,
h2,
h3 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 6pt;
}

header {
  border-bottom: 2px solid #e9e2d7;
}

footer {
  border-top: 2px solid #e9e2d7;
}

footer>p {
  margin: 6pt 0;
}

a {
  color: #4d92e1;
  text-decoration: none;
}

p>img {
  display: block;
  max-width: 768px;
  margin: 0 auto;
}

th, td {
  padding: 0 0.5rem;
}

code {
  font-family: 'Noto Sans Mono';
  font-size: 10pt;
  background-color: #303030;
  border-radius: 3px;
  padding: 0pt 2pt;
}

pre>code {
  display: block;
  white-space: pre-wrap;
  padding: 0.5rem 0.75rem;
}

sup {
  line-height: 0;
}

blockquote {
  margin: 0 2rem;
  border-left: 2px solid white;
  padding: 0 0.5rem;
  background-color: #303030;
}

blockquote>p {
  padding: 0.125rem 0;
}

ul {
  margin-top: 0;
}

li {
  margin-bottom: 3pt;
}

li>* {
  margin: 0;
}

nav {
  margin: 6pt 0;
}

nav>a {
  margin: 0 0.25rem;
}

nav>a:first-of-type {
  margin-left: 0;
}

time {
  font-style: italic;
}

.post-date {
  margin-bottom: 6pt;
}

#footer {
  font-size: 9pt;
}

.two-col {
  column-count: 2;
  column-gap: 18pt;
  text-align: left;
  margin-bottom: 12pt;
}

.two-col>div {
  break-inside: avoid-column;
}

@media only screen and (max-width: 479px) {
  .two-col {
    column-count: unset;
  }
}

@media print {
  html {
    background-color: unset;
  }

  body,
  h1 {
    color: black;
  }

  a {
    color: unset;
  }

  a::after {
    content: " (" attr(href) ")";
  }

  header {
    display: none;
  }

  footer {
    border-top: 2px solid black;
  }
}